<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} " />
</head>

<body>
    <div class="container">
        <div class="col-md-6">
            <h1>Update Tracker Item</h1>
            <form action="#" th:action="@{/ExpensesTracker/{id}(id=${ExpensesTracker.id})}" th:object="${ExpensesTracker}" method="POST">
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" th:field="*{description}" id="description"
                        placeholder="Add a description">
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" th:field="*{price}" id="price"
                        placeholder="Enter the price">
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select id="category" th:field="*{category}" class="form-control">
                        <option value="grocery">Grocery</option>
                        <option value="academics">Academics</option>
                        <option value="hobby">Hobby</option>
                        <option value="house_maintenance">House Maintenance</option>
                        <!-- Add more options as needed -->
                    </select>
                </div>

                <button class="btn btn-default" type="submit">Update</button>

                <input type="hidden" th:field="*{createdDate}" />
                <input type="hidden" th:field="*{modifiedDate}" />
            </form>
        </div>
    </div>
</body>

</html>